body {
    background-color: white;
}

.bg-image {
    height: 130vh;
    background-size: cover;
    background-position: center center;
}

.btn-red {
    color: #fff;
    background-color: #ff2727;
    border-color: #ff2727;
}

div.main {
    margin-top: 110px;
    width: 88vw;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: #ff2727;
    }
h2 {
    color: red;
    }
h3 {
    color: #ff2727;
    }
h4 {
    color: #000000;
    }